

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f9fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.title {
    margin: 20px 0;
}

.main {
    border: 9px solid #bebef7;
    border-radius: 20px;
    overflow: hidden;
}

.name {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    padding: 8px 16px;
    color: #7e7e7e;
    background-color: #edf5f7;
}

.name > span {
    color: #082639;
}

.name-input {
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #edf5f7;
}

.message-container {
    display: flex;
    flex-direction: column;
    background-color: #d5e5f7;
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left, .message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: white;
    box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #3b3939;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: rgb(229, 229, 229)
}

.message-left > p > span, .message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.feedback {
    font-style: italic;
    font-size: 14px;
    padding: 0px 15px 15px 15px;
    color: #2d2d2d;
    text-align: center;
}

.message-form {
    display: flex;
    justify-content: space-between;
    width: 400px
}

.message-input {
    flex-grow: 1;
    height: 50px;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: white;
}

.send-button {
    height: 48px;
    font-size: 16px;
    padding: 0px 20px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.divider {
    height: 48px;
    width: 2px;
    background-color: #f4f4f4;    
}

.clients-total {
    margin: 20px 0;
    color: #7e7e7e;
}